/* style.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Seções */
section {
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}